html,body {
           
    margin: 0;
    font-family: sans-serif;
}

header{
    /* position: fixed; */
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    height:30px;
    margin: 1%;
}

.main-container {
    padding:1%;
    margin:2px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card {
    padding: 3px;
    cursor: pointer;
}

@media (min-width: 1200px) {
    /* Large screens */
    .card {
        width: calc(95% / 5);
    }
}

@media (max-width: 1199px) {
    /* Medium screens */
    .card {
        width: calc(95% / 4);
    }
}

@media (max-width: 991px) {
    /* Small screens */
    .card {
        width: calc(95% / 3);
    }
}

@media (max-width: 767px) {
    /* Extra small screens */
    .card {
        width: calc(95% / 2);
    }
}


.card-image img{
    height:250px;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 2px;
}

.card-info{
    display: flex;
    height: 40px;
}

.character-name{
    width:90%;
    background-color: #292C3E;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: bold;
}
.add-to-favourate{
    margin-left: 3px;
   
}
.fav-character-btn{
    background-color: #FF468D;
    height: 40px;
    width: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-to-favourate::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .add-to-favourate:hover::after {
    opacity: 1;
  }
  


footer {
    /* background-color: #f8f8f8; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust this value to set the footer height */
}

#loadMore {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(187, 26, 26);
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 50px;
    color: white;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Add box shadow */
}


.list{

    display: flex;
    flex-wrap: wrap;
    /* column-count: 2; */
    justify-content: space-around;
}

.list div{
    flex-basis: 40%;
    padding: 10px;
    /* height: 40vh; */
    /* overflow-y: scroll; */
}