:root {
    --height: 50px;
    --secondary-color: #6c757d;
    --bg-color: rgba(23, 23, 23, 0.716);
    --dark-purple:#292C3E;
}

html,
body {

    margin: 0;
    font-family: sans-serif;
}


.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height);
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-purple);
    color: white;
    box-shadow: 0 15px 14px 2px rgba(35, 9, 9, 0.381);
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #135eab;
}

#favoriteButton {
    text-decoration: none;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--bg-color);
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}


.main-container {
    padding: 1%;
    margin: var(--height) 2px 60px 2px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card {
    padding: 3px;
    cursor: pointer;
}

@media (min-width: 1200px) {

    /* Large screens */
    .card {
        width: calc(95% / 5);
    }
}

@media (max-width: 1199px) {

    /* Medium screens */
    .card {
        width: calc(95% / 4);
    }
}

@media (max-width: 991px) {

    /* Small screens */
    .card {
        width: calc(95% / 3);
    }
}

@media (max-width: 767px) {

    /* Extra small screens */
    .card {
        width: calc(95% / 2);
    }
}


.card-image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 2px;
}

.card-info {
    display: flex;
    height: 40px;
}

.character-name {
    width: 90%;
    background-color: #292C3E;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: bold;
}

.add-to-favourate {
    margin-left: 3px;

}

.remove-btn{
    background-color: #ff4646;
    height: 40px;
    width: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fav-character-btn {
    background-color: #FF468D;
    height: 40px;
    width: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-to-favourate::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.add-to-favourate:hover::after {
    opacity: 1;
}



footer {
    /* background-color: #f8f8f8; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(5px); */
    /* Adjust this value to set the footer height */
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
}


#loadMoreButton {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--bg-color);
    cursor: pointer;
    font-weight: 900;
    /* margin-bottom: 50px; */
    color: white;
    border: none;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); */
    box-shadow: 4px 4px 12px 4px rgba(35, 9, 9, 0.563);
    /* Add box shadow */
}


.list {

    display: flex;
    flex-wrap: wrap;
    /* column-count: 2; */
    justify-content: space-around;
}

#description-container{
    margin: 10px 2.5%;
    background-color: var(--dark-purple);
    color: white;
    padding: 4px;
    line-height: 1.5rem;
    text-align: justify;
    /* border: 2px solid black; */
}

.list-container {
    flex-basis: 45%;
    
    margin: 12px 2px;
    padding: 2px;
    text-align: center;
    font-size: larger;
    /* scrollbar-gutter: stable; */
    /* scrollbar-width: none; */
}

.list-type-heading-container{
    background-color: var(--dark-purple);
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actual-list {
    margin-top: 0px;
    padding: 4px;
    text-align: left;
    height: 300px;
    overflow-y: auto;
    border: 2px solid black;
 
}
.actual-list li {
    /* list-style-type: none; */
    line-height: 2rem;
    /* background-color: gray; */
    /* border-radius: 1rem; */
    /* font-size: medium; */
    margin: 1px;
    /* color: white; */
    font-weight: 500;
    text-decoration:wavy;
    border-bottom: 1px dashed black;
    /* text-indent: 12px; */
    
}

.actual-list li:nth-child(odd){
    background-color: #b8c2cb1f;
}


.actual-list::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

.actual-list::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
    /* Set the color of the thumb */
}

.actual-list::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
    /* Set the color of the thumb on hover */
}

.disable{
    display: none;
}